#contact-callout {
  .btn-secondary {
    background: $slate-lightest;
    color: $slate-darkest;
    border-color: $slate-lightest;
    &:hover,
    &:focus {
      background: $slate-lighter;
      color: $slate-darkest;
      border-color: $slate-lighter;
    }
  }
}
