.home-section .row {
  padding: 64px 17px;

  &:first-child {
    border-bottom: 2px solid $slate-lightest;
  }
  @include breakpoint(md) {
    box-shadow: 0 0 20px rgba($slate-darkest, 0.1);
    &:first-child {
      border-bottom: none;
    }
  }
  @include breakpoint(lg) {
    padding: 64px 49px;
  }
}

.home-section .row.noshadow {
  box-shadow: none !important;
}

.home-section-content {
  text-align: center;
  @include breakpoint(lg) {
    text-align: left;
    margin-right: 34px;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 2px solid $slate-lightest;
    border-bottom: 2px solid $slate-lightest;
  }

  h2 {
    font-size: 38px;
    @include breakpoint(lg) {
      font-size: 42px;
    }
  }
}

.home-section-img {
  margin-bottom: 32px;
  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.home-jumbotron .btn-outline-secondary {
  color: $slate-lightest;
  border-color: $slate-lightest;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $slate-darkest !important;
    border-color: $slate-lightest !important;
    background-color: $slate-lightest !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

#testimonials .col-lg-6 {
  &:first-of-type {
    border-bottom: 2px solid $slate-lightest;
  }
  @include breakpoint(md) {
    box-shadow: $home-page-box-shadow;
    &:first-of-type {
      border-bottom: none;
    }
  }
}

#testimonials .testimonial {
  text-align: center;
}

#testimonials .testimonial .star::before {
  content: "\2605";
  font-size: 32px;
  color: $slate-darkest;
  line-height: 1;
}

#testimonials .carousel-indicators {
  bottom: -32px;
}

#testimonials .carousel-indicators li {
  background-color: $slate-light;
}

#testimonials .carousel-indicators .active {
  background-color: $slate-darkest;
}

#testimonials .carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -32px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  color: #fff;
  text-align: center;
  opacity: 1;
  background-color: $slate-darkest;
}

#testimonials .carousel-control-prev {
  box-shadow: -5px 5px 20px rgba($slate-darkest, 0.8);
}

#testimonials .carousel-control-next {
  left: 64px;
  top: 0;
  box-shadow: 5px -5px 20px rgba($slate-darkest, 0.8);
}

.testimonial-callout h3 {
  font-size: 24px;
  font-family: $body-font-family;
  font-weight: 300 !important;
  @include breakpoint(md) {
    font-size: 32px;
  }
  @include breakpoint(md) {
    font-size: 24px;
  }
  @include breakpoint(xl) {
    font-size: 32px;
  }
}

.testimonial-callout p {
  font-size: 38px;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $slate-darkest;
  font-style: italic;
  line-height: 1;
  @include breakpoint(md) {
    font-size: 48px;
  }
  @include breakpoint(lg) {
    font-size: 38px;
  }
  @include breakpoint(xl) {
    font-size: 48px;
  }
}

#details-are-important .row {
  background: linear-gradient(rgba(56, 67, 85, 0.7), rgba(56, 67, 85, 0.7)),
    url("../public/home-page-callout-image-one.jpg") 50% 50% / cover no-repeat;
}

#custom-designs .row {
  background: linear-gradient(rgba(56, 67, 85, 0.7), rgba(56, 67, 85, 0.7)),
    url("../public/home-page-callout-image-two.jpg") 50% 50% / cover no-repeat;
}

#additional-inscriptions .row {
  background: linear-gradient(rgba(56, 67, 85, 0.7), rgba(56, 67, 85, 0.7)),
    url("../public/home-page-callout-image-three.jpg") 50% 50% / cover no-repeat;
}

#details-are-important .btn-outline-primary,
#custom-designs .btn-outline-primary,
#additional-inscriptions .btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

#restorationServices .display-5 {
  font-size: 36px;
}

#restorationServices .home-section-img {
  padding: 3rem;
  @include breakpoint(md) {
    padding: 3rem 25%;
  }
  @include breakpoint(lg) {
    padding: 3rem;
  }
}
