// Add padding to body for fixed-top nav layout.
body {
    padding-top: 56px;
}

.col-inner {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;

    max-width: 100%;
    width: 100%;

    @include breakpoint(sm) {
        max-width: 540px;
        width: 100%;
    }

    @include breakpoint(md) {
        max-width: 720px;
        width: 100%;
    }

    @include breakpoint(lg) {
        max-width: 450px;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    @include breakpoint(xl) {
        max-width: 540px;
        width: 100%;
    }
}

.col-featured-img {

    max-width: 50%;
    width: 100%;

    @include breakpoint(lg) {
        max-width: 450px;
        width: 100%;
    }

    @include breakpoint(xl) {
        max-width: 540px;
        width: 100%;
    }
}

.w-lg-33 {
    @include breakpoint(lg) {
        width: 33.335% !important;
    }
}

.w-lg-50 {
    @include breakpoint(lg) {
        width: 50% !important;
    }
}
