body {
  overflow-x: hidden;
}

.row-page-content {
  position: relative;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row-page-content-img-right {
  flex-wrap: wrap-reverse !important;
}

// .col-page-content-text-wrap {
//   background-color: #EBEFF3 !important;
// }

.row-page-content-img-left .col-page-content-text-wrap::before,
.row-page-content-img-right .col-page-content-text-wrap::before {
  content: "";
  position: absolute !important;
  top: -4rem !important;
  left: -1rem !important;
  height: calc(100% + 4rem) !important;
  min-width: calc(100% + 2rem) !important;
  background-color: #ebeff3 !important;
  z-index: -1 !important;
}

@media (min-width: 992px) {
  .row-page-content-img-left::before,
  .row-page-content-img-right::before {
    content: "";
    position: absolute !important;
    top: 0 !important;
    height: 100% !important;
    min-width: 100%;
    background-color: #ebeff3 !important;
    z-index: -1 !important;
  }
  .row-page-content-img-left::before {
    right: -40% !important;
  }
  .row-page-content-img-right::before {
    left: -40% !important;
  }
  .row-page-content-img-left .col-page-content-text-wrap::before,
  .row-page-content-img-right .col-page-content-text-wrap::before {
    content: none;
  }
}
