// Typography
//
// This file modifiles and base text styles.
// -------------------------------------------------------------- //
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $slate-darkest;
}

.bg-slate-lightest .card-block a {
    color: $slate-base;
    text-decoration: none;
    border-bottom: 1px solid $slate-base;
}

.font-times {
    font-family: $heading-font-family !important;
}

.display-5 {
    font-size: 2rem;
    @include breakpoint(xl) {
        font-size: 3rem;
    }
}

.section-lead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid transparentize(#8393A7, 0.6);
  border-bottom: 1px solid transparentize(#8393A7, 0.6);
  font-family: 'Times New Roman', Times, sans-serif !important;
  font-size: 1.6rem;
}

caption {
    caption-side: top !important;
}